.form {
  display: flex;
  flex-direction: column;
}

.form-control, .form-select {
    height: 45px;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

  .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}